.mainStatistics {
    display: grid;
}

.contentStatistics {
    display: grid;
}

.modelStatistics {
    display: flex;
    width: 100%;
    justify-content: center;
}

.listStatistics {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.compStatistics {
    width: 75%;
    margin-right: 30px;
}

.mainSlider {
    width: 100%;
}
  
.legendSlider {
    font-size: 14px;
    font-weight: 600;
}

.mainGraphs {
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.textEgressos {
    margin-top: 20px;
}

.exportEgressos {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}