.mainStatistics {
    display: grid;
}

.contentStatistics {
    display: grid;
}

.modelStatistics {
    display: flex;
    width: 100%;
    justify-content: center;
}

.listStatistics {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.compStatistics {
    width: 75%;
    margin-right: 30px;
}