.dropout-main{
    background-color: #E6DBD3;
    padding-bottom: 10vh;
    min-height: 80vh;
    display: flex;
}

.dropout-content {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 2vh;
    box-shadow: 0px 1px 4px #15223214;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.dropout-slider {
    width: 1200px;
    margin-top: 30px;
}

.dropout-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #886859;
}


.mainStatistics {
    display: grid;
}

.contentStatistics {
    display: grid;
}

.modelStatistics {
    display: flex;
    width: 100%;
    justify-content: center;
}

.listStatistics {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.compStatistics {
    width: 75%;
    margin-right: 30px;
}

.mainSlider {
    width: 100%;
    margin-bottom: 50px;
}
  
.legendSlider {
    font-size: 14px;
    font-weight: 600;
}

.mainGraphs {
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.textEgressos {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: justify;
}

.exportEgressos {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.mainGraphEvadidos {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.optionsEvadidos {
    height: 360px;
    display: grid;
}


.checkbox0.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #B2EDD0;
    background-color: #B2EDD0 !important;
}

.checkbox1.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #EFAB54;
    background-color: #EFAB54 !important;
}

.checkbox2.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #24BDAF;
    background-color: #24BDAF !important;
}

.checkbox3.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #F64969;
    background-color: #F64969 !important;
}

.checkbox4.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #F6B545;
    background-color: #F6B545 !important;
}

.checkbox5.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #E4D2A5;
    background-color: #E4D2A5 !important;
}

.checkbox6.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #C99192;
    background-color: #C99192 !important;
}

.checkbox7.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #3A3D3D;
    background-color: #3A3D3D !important;
}

.checkbox8.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #C3D440;
    background-color: #C3D440 !important;
}

.checkbox9.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #6C7468;
    background-color: #6C7468 !important;
}

.checkbox10.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #FD577D;
    background-color: #FD577D !important;
}

.checkbox11.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #5F6081;
    background-color: #5F6081 !important;
}

