.enrollments-summary-card-main {
    border: 1px solid #707070;
    height: 175px;
    width: 412px;
    box-shadow: 0px 1px 4px #15223214;
    border-radius: 8px 8px 0px 0px;
    display: grid;
    grid-template-rows: 63fr 37fr;
}

.enrollments-summary-card-title {
    display: flex;
}

.enrollments-summary-card-cards-actives {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: -1px;
    margin-top: -1px;
}

.enrollments-summary-card-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: -1px;
    margin-top: -1px;
}

.enrollments-summary-left-cards {
    display: grid;
    width: 30%;
    justify-content: end;
}

.enrollments-summary-card-info {
    padding: 15px 0px 0px 20px;
    width: 70%;
}

.enrollments-summary-card-type {
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #7E84A3;
}

.enrollments-summary-card-range {
    font-size: 9px;
    color: #7E84A3;
    margin-top: -4px;
}

.enrollments-summary-card-size {
    font-size: 28px;
    letter-spacing: 0.12px;
    color: #131523;
    font-weight: 600;
}

.enrollments-summary-card-legend {
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #7E84A3;
    margin-top: -6px;
}