.alumni-card-home-content{
    height: 351px;
    width: 659px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 1px 4px #15223214;
    display: grid;

}

.alumni-buttons{
    display: flex;
    height: 46px;
    width: 300px;
    
    background-color:#FFFFFF;
    margin-top: 30px;
    
}

.seemore-button{
    margin-right: 20px;
    margin-left: 40px;
}

.alumni-buttons .seemore-button a,
.updatedata-button a, button {

    background-color:#FFFFFF;
    color: #7e84a3;
}

.alumni-card-img-1{
    align-items: flex-end;
    justify-content: space-between;
    height: 5px;
    display: flex;
}


