.mainSideBar {
    display: flex;
    height: max-content;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}

.optionsSideBar {
    margin: 0px 20px;
}

.customOption {
    margin: 20px 0px;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
}

.customOption:hover {
    transform: scale(1.1);
    transition: 0.3s;
}