.mainSideBar {
    display: flex;
    height: max-content;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}

.optionsSideBar {
    margin: 20px 20px;
    display: grid;
    justify-items: baseline;
}

.customOption {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;
    outline: 0;
    margin: 20px 0px;
}

.customOption:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.selectedOption{
    background-color: transparent;
    border: none;
    color: #0073e5;
    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;
    outline: 0;
    margin: 20px 0px;
}

.selectedOption:hover{
    transform: scale(1.1);
    transition: 0.3s;
}