.exportButton {
  border-radius: 5px;
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(53, 197, 53, 0.701);
  color: white;
  font-weight: 600;
  text-decoration: none !important;
}
a {
  text-decoration-color: transparent;
}
a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.exportButton:active {
  text-decoration: none;
}

.exportButton:visited {
  text-decoration: none;
}
.exportButton:hover {
  text-decoration: none;
  background-color: green;
  transition: 0.3s;
}

.mainExport {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.mainExport a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
