.main-content {
  padding-bottom: 10vh;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #e6dbd3;

  overflow: auto;
}

.main-search-students {
  width: 80vw;
  min-height: 75%;

  margin-left: 10vw;
  margin-top: 2vh;
  padding-bottom: 10vh;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 4px #15223214;
  border-radius: 6px;
  opacity: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
}

.container-title-search {
  height: 8vh;
  padding: 1vh 0;
  align-self: center;
}

.container-title-search h1 {
  font-size: 18px;
}