.matchesContainer{
    text-align: center;
}

.matchesContainer button{
    width: 200px;
    height: 50px;
    background:#886859;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1rem; 
    cursor: pointer;
}

.matchesContainer button:hover{
    background-color: #886859ea;
}