.alumni-main {
    background-color: #e6dbd3;
    padding-bottom: 10vh;
    min-height: 80vh;
    display: flex;
  }
  
  .alumni-content {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 2vh;
    box-shadow: 0px 1px 4px #15223214;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .graph-delayed {
    display: flex;
    justify-content: center;
  }
  
  .selector {
    width: 254px;
    height: 40px;
    margin-left: 80px;
    margin-top: 80px;
    display: flex;
    justify-content: right;
  }
  
  .mainStatistics {
    display: grid;
  }
  
  .contentStatistics {
    display: grid;
  }
  
  .modelStatistics {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .listStatistics {
    width: 85%;
    display: flex;
    justify-content: space-between;
  }
  
  .compStatistics {
    width: 75%;
    margin-right: 30px;
  }
  
  .mainSlider {
    width: 100%;
  }
  
  .legendSlider {
    font-size: 14px;
    font-weight: 600;
  }
  
  .textEgressos {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: justify;
  }
  
  .exportEgressos {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .optionsEvadidos {
    height: 360px;
    display: grid;
  }
  
  .checkbox0.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #b2edd0;
    background-color: #b2edd0 !important;
  }
  
  .checkbox1.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #efab54;
    background-color: #efab54 !important;
  }
  
  .checkbox2.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #24bdaf;
    background-color: #24bdaf !important;
  }
  
  .checkbox3.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #f64969;
    background-color: #f64969 !important;
  }
  
  .checkbox4.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #f6b545;
    background-color: #f6b545 !important;
  }
  
  .checkbox5.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #e4d2a5;
    background-color: #e4d2a5 !important;
  }
  
  .checkbox6.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #c99192;
    background-color: #c99192 !important;
  }
  
  .checkbox7.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #3a3d3d;
    background-color: #3a3d3d !important;
  }
  
  .checkbox8.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #c3d440;
    background-color: #c3d440 !important;
  }
  
  .checkbox9.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #6c7468;
    background-color: #6c7468 !important;
  }
  
  .checkbox10.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #fd577d;
    background-color: #fd577d !important;
  }
  
  .checkbox11.pretty.p-switch.p-fill input:checked ~ .state:before {
    border-color: #5f6081;
    background-color: #5f6081 !important;
  }
  
  .graph-main-delayed {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 45px;
    display: grid;
    justify-content: center;
    justify-items: center;
    position: relative;
  }
  
  .graph-label-y,
  .graph-label-x {
    position: absolute;
    color: #886859;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .graph-label-y {
    left: 0;
    transform: rotate(-90deg) translate(-20vh, -3vh);
  }
  
  .graph-label-x {
    bottom: 0;
    right: 50;
    transform: translateY(2vh);
  }
  