.main-mini-card-home {
  height: 58px;
  width: auto;
  min-width: 82.4px;
  border: 1px solid #707070;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 0;
  border-bottom: 0;
  grid-template-rows: 55fr 40fr;
}

.main-mini-card-home-2 {
  height: 58px;
  width: 103px;
  border: 1px solid #707070;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  grid-template-rows: 55fr 40fr;
}

.main-mini-card-home-3 {
  height: 65px;
  width: 103px;
  border: 1px solid #707070;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 0;
  grid-template-rows: 55fr 40fr;
  padding: 5px 0px;
}

.main-mini-card-home-4{
    height: 58px;
    width: 103px;
    border: 1px solid #707070;
    display: grid;
    justify-content: center;
    align-items:center;
    text-align: center;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    grid-template-rows: 55fr 40fr;
}
/** original
.main-mini-card-home-4 {
    height: 65px;
    width: 103px;
    border: 1px solid #707070;
    display: grid;
    justify-content: center;
    align-items:center;
    text-align: center;
    grid-template-rows: 55fr 40fr;
    padding: 5px 0px;

}
*/

/**
.main-mini-card-home-5 {
    height: auto;
    max-height: 71px;
    width: auto;
    min-width: 82.4px;
    border: 1px solid #707070;
    display: grid;
    justify-content: center;
    align-items:center;
    text-align: center;
    border-right: 0;
    border-bottom: 0;
    grid-template-rows: 55fr 40fr;
}
layout ideal para resoluçâo do card de evadidos*/
.number-mini-card-home {
  font-size: 14px;
  font-weight: 600;
  color: #7e84a3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.number-mini-card-home-content {
  font-weight: 600;
  color: #7e84a3;
}
.number-mini-card-home-delayed {
  font-size: 14px;
  font-weight: 600;
  color: #7e84a3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.number-mini-card-home-actives {
  font-size: 14px;
  font-weight: 600;
  color: #7e84a3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.legend-mini-card-home {
   font-size: 11px;
   color: #7E84A3;
}

.legend-mini-card-home-subjects {
  font-size: 10px;
  color: #7E84A3;
}

