@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
}

html{
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select:focus{
  outline: none;
}


/* If using, delete the main file in "Actives". */

.main-container{
  background-color: #E6DBD3;
  min-height: 100vh;

  padding-bottom: 10vh;
  display: block;
}

.main-container-body{
  width: 80vw;
  min-height: 65vh;

  margin-left: 10vw;
  margin-top: 2vh;
  padding-bottom: 10vh;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 4px #15223214;
  border-radius: 6px;
  opacity: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.pointer{
  cursor: pointer;
}

/* Back arrow button for the pages. */
.backdot{
  padding: 2vh;
  position: absolute;
  top: 0;
  left: 0;
}

.backdot>span{
  cursor: pointer;
}
